table {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  text-align: center;
}

.header{
  text-align: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  text-align: center;
}

td, th {
  width: 5%;
  text-align: center;
}

.mat-row:hover .mat-cell {
  background: #d5d5d5;
  border-color: currentColor;
  cursor: pointer;
}



