.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-card {
  width: 45%;
  margin-bottom: 5%;
}

.example-header-image {
  background-image: '../../../assets/img/Logo.jpeg';
  background-size: cover;
}
