<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <img
      class="avatar2 "
      src="../assets/img/logo.ico"
    />GRUPO VITA
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <div *ngIf="userPhoto">
      <img class="avatar mat-elevation-z8" src="{{ userPhoto }}" />
    </div>
    <div *ngIf="!userPhoto">
      <img class="avatar mat-elevation-z8" src="../assets/img/logo.ico" />
    </div>

    <h4 class="name" *ngIf="userName">{{ userName }}</h4>
    <h4 class="name" *ngIf="!userName">{{ userName2 }}</h4>

    <p class="designation">{{ profession }}</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['']">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-button class="menu-button" [routerLink]="['/schedule']">
      <mat-icon>event_note</mat-icon>
      <span>Calendar</span>
    </button>
    <button mat-button class="menu-button" [routerLink]="['/doctors']">
      <mat-icon>local_pharmacy</mat-icon>
      <span>Doctors</span>
    </button>
    <button mat-button class="menu-button" [routerLink]="['/patients']">
      <mat-icon>local_hotel</mat-icon>
      <span>Patients</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/logout">
      <mat-icon>no_meeting_room</mat-icon>
      <span>Log out</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
